/*
SKY #CAEBF2
CARBON #A9A9A9
WATERMELON #FF3B3F
NEUTRAL #EFEFEF
*/
body {
    background:#A9A9A9;
    font-family: Arial;
    max-width: 960px;
    margin: auto;
    padding: 25px;
}

h1 {
  border-top: 4px solid #EFEFEF;
  color: #CAEBF2;
  display: inline-block;
  min-height: 70px;
  margin: 55px auto 0;
  padding: 0 10px;
  z-index: 2;
  font-family: 'Adelle W01 Bold', 'Arvo', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: 65px;
  font-weight: 500;
}

h2, p {
    color: #EFEFEF;
}

a {
    color: #EFEFEF;
    text-decoration: none;
}

a:hover {
    color:#FF3B3F;
    text-decoration: underline;
}

h3 {
    color: #FF3B3F;
}

.subheading {
    padding: 30px 0 0 0;
}