body {
    background:#444;
    font-family: Arial;
    padding: 0 20px 20px 20px;
}

h1, {
    color: skyblue;
    text-align: center;
}

h2, p {
    color: skyblue;
}

a {
    color: blue;
}

h3 {
    color: lightcoral;
}